.body {
    box-sizing: border-box;
    color: white;
    width: 100%;
}

.header {
    display: block;
    text-align: center;
    height: 15rem;
    max-width: 38rem;
    margin: 0 auto;
}

h2 {
    font-size: 1, 5rem;
    color: rgba(33, 35, 83, 1);
    font-weight: normal;
}

p {
    font-size: 1rem;
    color: rgba(75, 93, 104, 1);
}

.img-block {
    width: 5rem;
    height: 4rem;
}

.blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 60rem;
    margin: 0 auto;
}

.block {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    width: 30rem;
    padding-bottom: 2rem;
}

.content-block1 {
    display: block;
    height: 22rem;
    width: 28rem;
    border-radius: 10%;
    background-color: rgb(242, 250, 248);
}

.content-block2 {
    display: block;
    height: 22rem;
    width: 28rem;
    border-radius: 10%;
    background-color: rgb(244, 240, 251);
}

.content-block3 {
    display: block;
    height: 22rem;
    width: 28rem;
    border-radius: 10%;
    background-color: rgb(251, 240, 247);
}

.content-block4 {
    display: block;
    height: 22rem;
    width: 28rem;
    border-radius: 10%;
    background-color: rgb(236, 245, 250);
}

button {
    color: transparent;
    color: rgb(33, 36, 80);
    border: none;
    font-size: 1rem;
}